body {
  margin: 0;
  padding: 0;
}
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#login .login-form {
  width: 300px;
  margin: 20px;
  padding: 10px;
  background-color: #e4e4e4;
  border-radius: 5px;
}
#login .login-form form {
  margin: 0;
  padding: 0;
}
#login .login-form input {
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  transition: border 0.2s, background-color 0.2s;
}
#login .login-form input[type=""] {
  background-color: #d6e5e9;
}
