<div id="login">
    <div class="login-form">
        <form>
            <input type="text" placeholder="Login ID">
            <br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>